# Exclude Admin HQ & Android App from this Common Website repo
website-admin/
android-app/
website-common/
athloboard_schema.sql
gritloop_schema.sql

# Build & System
.gradle/
build/
.idea/
.DS_Store
Thumbs.db
*.log
scratch/
